################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExchangeRate/bin
/ExchangeRate/obj
/.vs/ExchangeRate
